.navigation {
  &-link {
    opacity: 0.7;
    text-transform: uppercase;

    &:first-of-type {
      margin-inline-end: calc(var(--base-margin) * 3);
    }

    &.active {
      opacity: 1;
    }
  }
}
