.home-wrapper {
  padding: calc(var(--base-padding) * 3) calc(var(--base-padding) * 3);

  .sort-buttons {
    display: flex;
    gap: 0 var(--base-gap);
    margin-bottom: var(--base-margin);
  }

  .todo-cards {
    display: grid;
    gap: calc(var(--base-gap) * 2);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .todo-card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 2);
    justify-content: space-between;

    h2 {
      font-size: calc(var(--base-fs) * 1.4);
      margin-block-end: var(--base-margin);
    }
  }

  .todo-buttons {
    align-items: flex-end;
    display: flex;
    gap: calc(var(--base-gap) * 1.5);
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    span {
      background-color: var(--material-icon-bg);
      border-radius: 50%;
      opacity: 0.6;
      padding: calc(var(--base-padding) * 0.65);
      transition: opacity 200ms ease;
    }

    span:hover {
      opacity: 1;
    }
  }
}

/* Pagination Container Styling */
.pagination-container {
  margin-block-start: calc(var(--base-margin) * 4);

  ul {
    display: flex;
    gap: calc(var(--base-gap) * 2);
    justify-content: center;
    list-style-type: none;
  }

  .pagination-btn {
    inline-size: 2.5em;
  }
}
